
/* Ajoutez votre style CSS ici */

.hidden {
    display: none;
}

#panier-items {
    list-style-type: none;
    padding: 0;
}

#panier-items li {
    margin-bottom: 10px;
}

#total-price {
    font-weight: bold;
    margin-top: 20px;
}
